* {
    /*background: #271E1E;*/
}

/* Lines */
.line-first {
    margin: 0;
    background-color: #ff6c00;
    border: 1px solid #ff6c00;
}

.line-second {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.line-bef-menu-outside {
    display: flex;
    width: 30%;
    background-color: #00a0ff;
}

.line-bef-menu-inside {
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: #00a0ff;
    border: 1px solid #00a0ff;
}

/* Header + logo */
.div-header {
    position: relative;
    display: flex;
    background: #271E1E;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo {
    margin-left: 6%;
    width: 950px;
    height: 200px;
    mix-blend-mode: lighten;
}

/* Cards */
.button-card {
    position: absolute;
    right: 2%;
    top: 32%;
    display: flex;
    flex-direction: column;
    border: 2px solid #A7A7A7;
    border-radius: 30px;
    padding: 5px 3px 2px 3px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 38px;
    padding: 0px 0px 5px 0px
}

.card-text {
    font-family: 'Ruda', sans-serif;
    color: #A7A7A7;
    margin: 0 0 5px 0;
    font-size: 10px;
    font-weight: bold;
}

a:hover .button-card {
    border: 2px solid #ffffff;

}

a:hover .card-text {
    color: #ffffff;

}

a:hover .icon {
    filter: brightness(0) invert(1);
}

/* Slider*/
.slider {
    background: #A7A7A7;
}

.slide-unit {
    height: 300px;
    width: 100%;
}

/* Menu styles */
.menu-d {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #271E1E;
}

.menu-main {
    list-style: none;
    margin: 3% 0;
    padding-right: 70px;
}

.menu-li:first-child {
    font-size: 32px;
    visibility: hidden;
}

.menu-li {
    float: left;
    margin-right: 65px;
}

.menu-li:nth-child(odd) {
    margin-top: 50px;
}

.menu-li a {
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
    font-family: 'Ruda', sans-serif;
    color: #b4b4b4;
    padding-bottom: 5px;
    font-size: 28px;
    text-decoration: none;
    border-bottom: 2px solid #ff6c00;
    transition: all 0.2s ease-in-out;
}

.menu-li a:hover {
    border-bottom: 3px solid #00a0ff;
    color: #ffffff;

}

/* Visual choosing item */
.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #271E1E;
    padding: 0px 0px 50px;

}

.choose-img {
    height: 150px;
    transition: all 0.3s ease;
}

.choose-img:hover {
    filter: invert(1);
}

/* Shopping cart*/
.basket {
    display: flex;
    position: fixed;
    z-index: 99999999;
    bottom: 10vh;
    right: 3vw;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.basket img {
    padding: 0.3vh;
    height: 7vh;
    width: 7vh;
    background-color: #ff7500;
    border-radius: 50vw;

}

a:hover .basket {
    filter: invert(1);
    transition: all 0.3s ease;
}

.upper-pizza {
    font-family: 'Ruda', sans-serif;
    text-align: center;
    background-color: #271E1E;
    color: white;
    font-size: 4em;
    margin: 0;
}

.upper {
    font-family: 'Ruda', sans-serif;
    text-align: center;
    background-color: #271E1E;
    color: white;
    font-size: 4em;
    margin: 0;
    padding: 0 30px;
    border-top: 0;
    border-bottom: 0;
}

/* List items */
.all-d {
    display: flex;
    justify-content: center;
    background: #271E1E;
    padding: 20px 0 20px 0;

}

.all-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.item {
    margin: 0.5vw;
    padding: 1vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.3vw solid #ff6c00;
    /* mb border dotted*/
    border-radius: 10px;
    width: 20%;
    height: 400px;
}

.item-img {
    width: 100%;
}

.item-name {
    font-family: 'Ruda', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.item-composition {
    font-family: 'Ruda', sans-serif;
    margin: 0;
    text-align: center;
}

.item-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: 1px solid #08ff00;*/
}

.item-price {
    font-family: 'Ruda', sans-serif;
    font-weight: bold;
}

.item-plus {
    margin-left: 8px;
    height: 20px;
    /*border: 1px solid #0033ff;*/

}

.smth-with-line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #271E1E;
}

/* Delivery form */

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #A7A7A7;
    padding: 3vh;
}

footer a {
    text-decoration: none;
    color: #271E1E;
}

footer p {
    font-family: 'Ruda', sans-serif;
    margin: 0 0 0 0;
    font-size: 1em;
}

/*MEDIA*/
@media (max-width: 1000px) {
    .item {
        width: 45%;
        height: 550px;
    }
}

@media (max-width: 520px) {
    .item {
        width: 95%;
        height: 500px;
    }
}

/* */
.order-form {
    font-family: 'Ruda', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #271E1E;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -16px;

}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #271E1E;
    padding: 5px 20px 15px 20px;
    border-radius: 3px;
}

input[type=text] {
    width: 98%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #271E1E;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
    color: white;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}



.btn {
    background-color: #ff7500;
    color: #271E1E;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #00a0ff;
}

span.price {
    float: right;
    color: grey;
}

/* Button neon */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wrapper > div {
    margin: 20px;
}

.box {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.box .content {
    margin: 20px;
    padding: 0 20px;
    border: 1px dashed transparent;
    color: white;
    font-size: 14px;
    line-height: 1.3;
    background: transparent;
}

.box.out .corners {
    position: absolute;
    width: 100%;
    transition-duration: 0.3s;
}

.box.out .corners:before,
.box.out .corners:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-color: cyan;
    border-style: solid;
    transition-duration: 0.3s;
    transform: translateZ(0);
}

/*************************************/

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
