* {
    background: #383737;
}

.magic {
    display: flex;
    justify-content: center;
    margin: 15% 0;
    height: 100%;
}

h1 {
    font-size: 90px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ffb800;
    transition: font-size 0.3s ease-in;
}

h1:hover {
    font-size: 93px;
}