.order-table {
  text-align: center;
  font-family: 'Ruda', sans-serif;
  border-radius: 4px;
  background-color: #F0F0F0;
  color: #000000;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
  //margin: 24px auto;

  &__head {
    padding: 18px;
  }

  &__item {
    margin: auto;
    padding: 4px;
    max-width: 10vw;
  }

  &__actions {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 64px;
  }

  &__button--green {
    background-color: #00ff00;
  }

  &__button--red {
    background-color: #ff0000;
  }
}

.section {
  display: flex;
  justify-content: space-between;

  &__total {
    font-size: 16px;
  }

  &__button {
    padding: 6px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #1976d2;
    text-decoration: none;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ruda', sans-serif;
  }

  &__button:hover {
    background-color: #1565C0;
  }
}
