.PopUpOrder {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  //visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 10;
}

.container {
  font-family: 'Ruda', sans-serif;
  max-width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ff6c00;
  box-shadow: 0 0 10px #000;
  background-color: #dcdcdc;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.form {
  &__text {
    font-weight: bold;
    font-size: 16px;
    color: #1A1A1A;
  }
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A7A7A7;

  &__title {
    font-family: 'Ruda', sans-serif;
    font-size: 24px;
    margin-top: 24px;
  }

  &__table {
    text-align: center;
    font-family: 'Ruda', sans-serif;
    border-radius: 4px;
    background-color: #F0F0F0;
    color: #000000;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
    //margin: 24px auto;
  }

  &__table-head {
    padding: 18px;
  }

  &__table-item {
    margin: auto;
    padding: 4px;
    max-width: 10vw;
  }

  &__table-actions {
    display: flex;
    flex-direction: column;
  }

  &__table-img {
    width: 64px;
  }

  &__table-button--green {
    background-color: #00ff00;
  }

  &__table-button--red {
    background-color: #ff0000;
  }
}
