.order-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A7A7A7;

  &__title {
    font-family: 'Ruda', sans-serif;
    font-size: 24px;
    margin-top: 24px;
  }

  &__table {
    text-align: center;
    font-family: 'Ruda', sans-serif;
    border-radius: 4px;
    background-color: #F0F0F0;
    color: #000000;
    border-collapse: collapse;
    border-style: hidden;
    box-shadow: 0 0 0 1px #666;
    margin: 24px;
  }

  &__table-head {
    padding: 18px;
  }

  &__table-item {
    padding: 4px;
  }

  &__table-fast {
    background-color: #ff6c00;
    margin: 0;
    height: 100%;
    font-weight: bold;
  }
}
