.auth-form {
  justify-content: center;
  background-color: #A7A7A7;
  display: flex;

  &__container {
    width: 20%;
    margin: 24px;
    padding: 12px;
    border-radius: 12px;
    background: #232323;
  }

  &__title {
    display: flex;
    font-family: 'Ruda', sans-serif;
    justify-content: center;
    font-weight: bold;
    color: #FFFFFF;
  }

  &__img-container {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 48px;
  }

  &__section {
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__section__input--short {
    background-color: #fff;
    border-radius: 4px;
    max-width: 49%;
  }

  &__section__input--long {
    background-color: #fff;
    border-radius: 4px;
  }

  &__button {
    text-decoration: none;
    width: 100%;
    height: 48px;
    font-family: 'Ruda', sans-serif;
  }

  &__button__text {
    margin: 0;
    text-decoration: none;
  }
}
