.footer__container {
  display: flex;
  padding-right: 24px;
  justify-content: space-around;
  align-items: center;
  //background-color: #4d4d4d;
  //background-color: #271E1E; brown
  background-color: #1a1a1a; // check, mb delete in future


}

.footer__link {
  text-decoration: none;
  color: #b4b4b4;
}

.footer__link:hover {
  color: #fff;
}

.footer__paragraph {
  font-family: 'Ruda', sans-serif;
  margin-top: 20px;
  color: #b4b4b4
}

.footer__social-media-block {
  display: flex;
  justify-content: center;
  //background-color: #4d4d4d;
  //background-color: #271E1E; brown
  background-color: #1a1a1a; // check, mb delete in future
}

// form block, mb gradient

.footer__img-container {
  margin: 24px 24px 18px 24px;
  border: 1px solid #1a1a1a;
  border-radius: 30px;

}

.footer__img-container:hover {
  border: 1px solid #ff7500;
  transition: all 0.3s ease;
}

.footer__img {
  width: 64px;
}


