.navigation-menu__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #271E1E;
}

.navigation-menu__list {
  list-style: none;
  margin: 3% 0;
  padding-right: 75px;
}

.navigation-menu__item:first-child {
  font-size: 32px;
  visibility: hidden;
}

.navigation-menu__item {
  float: left;
  margin-right: 65px;
}

.navigation-menu__link {
  @import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
  font-family: 'Ruda', sans-serif;
  color: #b4b4b4;
  padding-bottom: 5px;
  font-size: 28px;
  text-decoration: none;
  border-bottom: 2px solid #ff6c00;
  transition: all 0.2s ease-in-out;
}

.navigation-menu__link:hover {
  border-bottom: 3px solid #00a0ff;
  color: #ffffff;

}

/* Visual choosing item */
.choose {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #271E1E;
  padding-bottom: 50px;
}

.choose-img {
  height: 150px;
  transition: all 0.3s ease;
}

.choose-img:hover {
  filter: invert(1);
}
