.navigation-menu__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #271E1E;
}

.navigation-menu__list {
  list-style: none;
  margin: 3% 0;
  padding-right: 75px;
}

.navigation-menu__item {
  float: left;
  margin: 12px;
}

.navigation-menu__link {
  @import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
  font-family: 'Ruda', sans-serif;
  color: #b4b4b4;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigation-menu__link__text {
  text-align: center;
  border-bottom: 2px solid #ff6c00;
  padding-bottom: 8px;
  font-size: 28px;
  width: auto;
}

.navigation-menu__link:hover .choose-img {
  filter: invert(1);
  transition: all 0.3s ease;
}

.navigation-menu__link:hover .navigation-menu__link__text {
  color: #ffffff;
  border-bottom: 2px solid #0196F0;
  transition: all 0.3s ease;
}
/* Visual choosing item */
.navigation-menu__link__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #271E1E;
  padding-bottom: 50px;
}

.choose-img {
  height: 150px;
  transition: all 0.3s ease;
}
