/* Lines */

.line-bef-menu-outside {
  display: flex;
  width: 30%;
  background-color: #00a0ff;
}

.line-bef-menu-inside {
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: #00a0ff;
  border: 1px solid #00a0ff;
}

.upper-pizza {
  font-family: 'Ruda', sans-serif;
  text-align: center;
  background-color: #271E1E;
  color: white;
  font-size: 4em;
  margin: 0;
}

.upper {
  font-family: 'Ruda', sans-serif;
  text-align: center;
  background-color: #271E1E;
  color: white;
  font-size: 4em;
  margin: 0;
  padding: 0 30px;
  border-top: 0;
  border-bottom: 0;
}

/* List items */
.all-d {
  display: flex;
  justify-content: center;
  background: #271E1E;
  padding: 20px 0 20px 0;

}

.all-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.item {
  margin: 0.5vw;
  padding: 1vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.3vw solid #ff6c00;
  /* mb border dotted*/
  border-radius: 10px;
  width: 20%;
  height: 400px;
}

.item-img {
  width: 100%;
}

.item-name {
  font-family: 'Ruda', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.item-composition {
  font-family: 'Ruda', sans-serif;
  margin: 0;
  text-align: center;
}

.item-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*border: 1px solid #08ff00;*/
}

.item-price {
  font-family: 'Ruda', sans-serif;
  font-weight: bold;
}

.item-price-cur {
  font-family: 'Ruda', sans-serif;
  font-weight: bold;
  padding-left: 4px;
}

.item-plus {
  margin-left: 8px;
  height: 20px;
  /*border: 1px solid #0033ff;*/

}

.smth-with-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #271E1E;
}

.order-form {
  font-family: 'Ruda', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #271E1E;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -16px;

}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {

  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #271E1E;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

.order-form input:nth-child(n + 2) {
  width: 98%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #271E1E;
  border-radius: 3px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.deliver-box {

  display: flex;
  font-size: 3vh;
  justify-content: center;
}

.deliver-text {
  color: #ff6c00;
  font-weight: bold;
}

label {
  margin-bottom: 10px;
  display: block;
  color: white;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.total-text {
  color: white;
}

.btn {
  background-color: #ff7500;
  color: #271E1E;
  width: 40%;
  padding: 12px;
  margin: 10px 0px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:nth-child(2) {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ff6a00, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}

.btn:hover {
  background-color: #00a0ff;
}

.btn:nth-child(1):hover {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00b2ff, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}

.trash-button-d {
  display: flex;
  align-items: center;
}

.trash-button {
  padding: 3px;
  background: #ff6c00;
  border-radius: 500px;
  width: 5vh;
}

span.price {
  float: right;
  color: grey;
}

/*PopUp*/
.b-popup {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  /*visibility: hidden;*/
  top: 0px;
}

.b-popup .b-popup-content {
  margin: 40px auto 0px auto;
  width: auto;
  height: auto;
  max-width: 50%;
  padding: 10px;
  background-color: #c5c5c5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.buttons-pop {
}

.btn-in-pop {
  display: flex;
  justify-content: flex-end;
  font-family: 'Ruda', sans-serif;

}

.btn-in-pop button {
  width: 20%;
}

.cart-view {
  font-family: 'Ruda', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-cross {
  display: flex;
  justify-content: flex-end;
}

.shopping_list {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.shopping_list td,
.shopping_list th {
  font-family: 'Ruda', sans-serif;
  padding: 10px;
  border: 1px solid #AAAAAA;
}

/*480 - phones, 768 - tablet, 1024 - laptop, 1200 - tv*/

.total-pop {
  font-family: 'Ruda', sans-serif;
  color: #271E1E;
}

#price-pop {
  font-family: 'Ruda', sans-serif;
  color: #271E1E;
}

/*MEDIA*/
@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}


@media (max-width: 1000px) {
  .item {
    width: 45%;
    height: 550px;
  }
}

@media (max-width: 520px) {
  .item {
    width: 95%;
    height: 500px;
  }
}

/* */


/*   */
@media (max-width: 800px) {
  .col-25 {
    margin-bottom: 20px;
  }
}
